#app {
    display: flex;
    /*x轴对齐方式*/
    justify-content: center;
     /*y轴对滴方式*/
     align-items: center;
     /**屏幕高度百分百*/
     height: 100vh;
}

#app .logo{
    width: 160px;
    height: 160px;
    background: url(../img/webpack-img.jpg) center center no-repeat;
}

#app p{
    font-size: 35px;
    margin-top: 30px;
}